name: RemoteFiles
description: not yet available

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 0.0.1+2

environment:
  sdk: ">=2.2.2 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2

  ssh: ^0.0.3
  dynamic_theme: ^1.0.0
  outline_material_icons: ^0.1.0
  flutter_speed_dial: ^1.1.1
  md2_tab_indicator: ^1.0.2
  path_provider: ^0.5.0+1
  package_info: ^0.4.0+3
  permission_handler: '^2.2.0'
  file_picker: ^1.3.4+1
  url_launcher: ^5.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_launcher_icons: ^0.7.1

flutter_icons:
  image_path: "assets/app_icon_round.png"
  android: "ic_launcher"
  ios: true
  adaptive_icon_background: "assets/app_icon.png"
  adaptive_icon_foreground: "assets/white.png"


# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  fonts:
    - family: GoogleSans
      fonts:
        - asset: fonts/GoogleSans-Regular.ttf
        - asset: fonts/GoogleSans-Italic.ttf
          style: italic
        - asset: fonts/GoogleSans-Medium.ttf
          weight: 600
        - asset: fonts/GoogleSans-MediumItalic.ttf
          weight: 600
          style: italic
        - asset: fonts/GoogleSans-Bold.ttf
          weight: 700
        - asset: fonts/GoogleSans-BoldItalic.ttf
          weight: 700
          style: italic

  assets:
    - assets/app_icon.png
    - assets/arrow_drop_down.png
    - assets/arrow_drop_up.png

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
