---
---

@import "{{ site.theme }}";
body {
  background-color: #181818;
  color: #c2d1e4;
}
.page-header {
  background-image: linear-gradient(120deg, #1e6dad, #3a2bbb);
}
.app-icon-container {
  width: 100px;
  height: 100px;
  margin-left: calc(50% - 50px);
  margin-bottom: 10px;
  background-color: #eee;
  border-radius: 18px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, .3);
  padding: 5px;
}
.app-icon {
  width: 90px;
  height: 90px;
}
.main-content {
  max-width: 66rem;
}
a {
  color: #559df0;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #cbdff8;
}