---
---

@import "{{ site.theme }}";
body {
  background-color: #1b1b1b;
  color: #dadee2;
}
.page-header {
  background-image: linear-gradient(120deg, #256b99, #2c2192);
}
.page-header .app-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
.page-header .project-tagline.first {
  margin-bottom: .4rem;
}
.btn.not-available {
  cursor: not-allowed;
}
.main-content {
  max-width: 68rem;
}
a {
  color: #559df0;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #cbdff8;
}
.info-container {
  margin-bottom: 10px;
}
.screenshot-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.screenshot-container div {
  display: inline-block;
}
.screenshot-container::-webkit-scrollbar {
  height: 8px;
}
.screenshot-container::-webkit-scrollbar-track {
  background: #444;
}
.screenshot-container::-webkit-scrollbar-thumb {
  background: #777;
}
.screenshot-container::-webkit-scrollbar-thumb:hover {
  background: #999;
}
.screenshot-container::-webkit-scrollbar-thumb:active {
  background: #bbb;
}