<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>

  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
  <meta charset="UTF-8">

  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#303030">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>
  <header class="page-header" role="banner">
    <img class="app-icon" src="https://github.com/niklas-8/RemoteFiles/blob/master/assets/app_icon_bg.png?raw=true">
    <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <h2 class="project-tagline first">The modern SFTP client for Android and iOS</h2>
    <h2 class="project-tagline">Version 0.0.1 [Alpha]</h2>
    {% if site.github.is_project_page %}
    <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
    {% endif %}
    {% if site.show_downloads %}
    <a href="https://github.com/niklas-8/RemoteFiles/releases/download/v0.0.1-alpha/remotefiles-v0.0.1-alpha.apk"
      class="btn">Download .apk</a>
    <a class="btn not-available">Google PlayStore (not yet available)</a>
    {% endif %}
  </header>

  <main id="content" class="main-content" role="main">
    <div class="info-container">
      <h2>Free, open source, in active development.</h2>
      <p>Written with <a href="https://flutter.dev">Flutter</a> in the <a href="https://dart.dev">Dart</a> programming
        language, RemoteFiles is free and open-sourced under the GNU
        General Public License v3.0. Please feel free to contribute it by opening an issue, sending a feature
        request or a bug report on GitHub.</p>
    </div>

    <h2>Screenshots</h2>
    <div class="screenshot-container">
      <div>
        <img src="https://github.com/niklas-8/RemoteFiles/blob/master/screenshots/1.jpg?raw=true" width="280px" />
      </div>
      <div>
        <img src="https://github.com/niklas-8/RemoteFiles/blob/master/screenshots/2.jpg?raw=true" width="280px" />
      </div>
      <div>
        <img src="https://github.com/niklas-8/RemoteFiles/blob/master/screenshots/3.jpg?raw=true" width="280px" />
      </div>
      <div>
        <img src="https://github.com/niklas-8/RemoteFiles/blob/master/screenshots/4.jpg?raw=true" width="280px" />
      </div>
      <div>
        <img src="https://github.com/niklas-8/RemoteFiles/blob/master/screenshots/5.jpg?raw=true" width="280px" />
      </div>
      <div>
        <img src="https://github.com/niklas-8/RemoteFiles/blob/master/screenshots/6.jpg?raw=true" width="280px" />
      </div>
    </div>
  </main>
</body>

</html>